@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    /*background: url("https://images7.alphacoders.com/588/thumb-1920-588644.jpg");*/
    /*background: black;*/

}

/*.container {*/
/*    width: 900px;*/
/*    position: relative;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.container .card {*/
/*    position: relative;*/

/*}*/

/*.container .card .face {*/
/*    width: 600px;*/
/*    height: 200px;*/
/*    transition: 0.4s;*/
/*}*/

/*.container .card .face.face1 {*/
/*    position: relative;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    z-index: 1;*/
/*    transform: translateY(200px);*/
/*    !*background-image: url("https://hlas.co.uk/wp-content/uploads/3-7.png");*!*/
/*    background: #333;*/
/*}*/

/*.container .card:hover .face.face1 {*/
/*    !*box-shadow: inset 0 0 60px #fff,*!*/
/*    !*inset 20px 0 60px #6f00ff,*!*/
/*    !*inset -20px 0 80px #0ff,*!*/
/*    !*inset 20px 0 150px #6f00ff,*!*/
/*    !*inset -20px 0 150px #0ff,*!*/
/*    !*inset 20px 0 60px #6f00ff,*!*/
/*    !*0 0 40px #fff,*!*/
/*    !*-10px 0 60px #6f00ff,*!*/
/*    !*10px 0 60px #0ff;*!*/
/*    transform: translateY(0px);*/
/*}*/

/*.container .card .face.face1 .content {*/
/*    opacity: .7;*/
/*    text-align: center;*/
/*    transition: 0.5s;*/
/*}*/

/*.container .card:hover .face.face1 .content {*/
/*    opacity: 1;*/
/*}*/
/*.container .card .face.face1 .content i {*/
/*    font-size: 3em;*/
/*    color: #fff;*/
/*    display: inline-block;*/
/*}*/

/*.container .card .face.face1 .content h3 {*/
/*    font-size: 3em;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*}*/

/*.container .card .face.face1 .content a {*/
/*    transition: 0.5s;*/
/*}*/

/*.container .card .face.face2 {*/
/*    position: relative;*/
/*    background: #fff;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 20px;*/
/*    box-sizing: border-box;*/
/*    box-shadow: 0 20px 50px rgba(0,0,0,8);*/
/*    transform: translateY(0px);*/
/*}*/
/*.container .card:hover .face.face2 {*/
/*    transform: translateY(0px);*/
/*}*/

/*.container .card .face.face2 .content p {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-size: 14px;*/
/*    color: #333;*/
/*}*/

/*.container .card .face.face2 .content a {*/
/*    text-decoration: none;*/
/*    color: #fff;*/
/*    box-sizing: border-box;*/
/*    padding: 8px 24px;*/
/*    margin: 15px 0 0;*/
/*    display: inline-block;*/
/*    background: #444;*/
/*}*/

/*a {*/
/*    !*color: white;*!*/
/*}*/

#header {
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    overflow: visible;
}

.header-logo {
    flex: 0 0 25%;
    position: relative;
}

.logo {
    vertical-align: middle;
    cursor: pointer;
    text-align: left;
    display: block;
    float: left;
    padding: 37px 40px 0px 0px;
    line-height: 100px;
    background: #fbe122;
    position: relative;
}

.logo:before {
    position: absolute;
    background-color: inherit;
    content: '';
    width: 1000px;
    height: 100%;
    transform: skew(
            -35deg
    );
    z-index: 0;
    top: 0;
    right: -275px;
    height: 107px;
}

header {
    width: 100%;
    position: relative;
    z-index: 1000;
    background: #fff;
    /*box-shadow: 0 6px 9px 0 rgb(36, 39, 44, / 20%);*/
}

header {
    z-index: 1001;
}

.container {
    width: 1320px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.logo img {
    position: absolute;
}

img {
    border: 0;
}

.header__nav {
    flex: 0 0 88.5%;
}

.header-banner {
    overflow: hidden;
    font-family: 'Saira Condensed', sans-serif;
}

.header-banner:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 120.5%;
    content: '';
    background-color: #23292e;
    z-index: -1;
}

.header-container .fl-header-right {
    margin-left: 20px;
}

.fl-links {
    float: right;
}

.fl-links .clicker {
    padding: 0px 0px 0px 28px;
    margin-top: 51px;
    display: block;
    -webkit-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
    -o-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
    box-shadow: inset 0 0 0 0 #202020;
}

.navbar-collapse.collapse {
    margin-top: 53px;
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    visibility: visible!important;
}
.navbar-collapse {
    float: right;
    padding: 0px;
    margin-left: 25px;
}

.fl-switch-contain {
    position: relative;
    float: right;
    margin-top: 51px;
}

.mini-switch {
    text-align: center;
    cursor: pointer;
    margin: 0px;
    display: block !important;
}

.page-heading {
    padding: 70px 0 70px 0;
    background-size: cover;
    border-bottom: none;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(//klbtheme.com/harrier/wp-content/themes/harrier/images/category-bg.jpg);
    background-position: bottom;
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

.vc_row.vc_row-no-padding .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
}

.breadcrumbs {
    padding: 3px 0px 10px 0px;
    margin: auto;
    font-size: 14px;
    color: #fff;
    font-family: 'Saira Condensed', sans-serif;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-xs-12 {
    width: 100%;
}

.breadcrumbs ul {
    margin: 0px;
    padding: 0px;
}

.breadcrumbs ul li {
    list-style-type: none;
    display: inline;
}

.breadcrumbs a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.page-heading .page-title h2 {
    color: #fff;
}

.page-title h1, .page-title h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0px;
    padding: 0px 25px;
    margin: 0px;
    display: inline-block;
    margin-top: 5px;
}

.vc_col-sm-12 {
    width: 100%;
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.vc_row[data-vc-full-width] {
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    overflow: hidden;
}

.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}

.breadcrumbs span {
    display: inline-block;
    margin: 0 5px 0 5px;
    color: #aaa;
    font-size: 16px;
}

.item.cons {
    /* background: rgba(234,226,211,.97); */
    background: rgba(250,205,0,.9);
    clip-path: polygon(0 35px, 100% 0, 100% 310px, 0 100%);
    /*-webkit-clip-path: polygon(0 35px, 100% 0, 100% 100%, 0 100%);*/
    padding: 60px 25px 30px;
    height: 265px;
    width: 450px;
}

.item.cons h6 {
    color: #000;
    font-size: 22px;
    margin: 0 0 25px 190px;
}

.item.cons input {
    background: rgba(255,255,255,.72);
    border: none;
    outline: none;
    font-size: 14px;
    position: relative;
    width: 100%;
    transition: .3s;
    clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
    -webkit-clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
    padding: 12px 20px;
    margin: 0 0 15px;
}

.item.cons .button2 {
    color: #fff;
    margin: 10px 0 0 5px;
}

.button2 {
    background: none;
    border: none;
    color: #000;
    font-family: 'LatoBold';
    font-size: 17px;
    line-height: 1;
    cursor: pointer;
    position: relative;
    transition: .3s;
    padding: 12px 24px;
}
.button2 span {
    position: relative;
}

.button2:before {
    content: '';
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: skewX(
            -15deg
    );
}

/*background:*/
/*        url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5BdtaKbTI-eCahqBstBMKWU67MUWK2bNcgg&usqp=CAU) repeat-x 0 100% fixed,*/
/*        url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiOr0zYz49G_Jeug6S-F5fn3UVI9aw9jU3ZQ&usqp=CAU) no-repeat fixed,*/
/*        url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfO63A938YJHivaU53h17iz5aLOfpdMWKWAg&usqp=CAU) no-repeat fixed,*/
/*        url(https://habrastorage.org/webt/-j/go/fx/-jgofxkmtexlfds_uh_c4eklqgu.jpeg) repeat-x 0 100% fixed,*/
/*        linear-gradient(to top, #5080b1, #004e8c) fixed;*/
/*animation: city 30s linear infinite;*/


/*@keyframes city {*/
/*    from { background-position: -1000px 100%, 0 0;}*/
/*    to { background-position: 0 100%; }*/
/*}*/

/*@-webkit-keyframes city {*/
/*    from { background-position: -1000px 100%, 0 0;}*/
/*    to { background-position: 0 100%, 0 0; }*/
/*}*/