@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    /*background: url("https://images7.alphacoders.com/588/thumb-1920-588644.jpg");*/
    /*background: #333;*/
    box-sizing: revert;

}


.scale {
    transition: 0.4s; /* Время эффекта */
    height: 140px;
    background: #333;
}
.scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

::selection {
    background: #fbe122; /* Safari */
    color: black;
}


.products-grid .item .item-inner .item-img .item-box-hover {
    z-index: 2;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    position: absolute;
    width: 100%;
    top: 44%;
    opacity: 0;
}

.products-grid .item .item-inner .item-box-hover .product-detail-bnt {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    vertical-align: top;
}

#diamond {
    width: 30px;
    height: 30px;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 60px 0 10px 110px;
}
.box-1:hover{
    position:relative;
    color: #ed6663;
}
#diamond{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background: rgb(255, 255, 255);
    padding:5px;
    display:none;
}
.box-1:hover #diamond {
    display:block;
}

.klb-seperator {
    height: 3px;
    background: #ed6663;
    left: 0;
    right: 0;
    bottom: -12px;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
}
