@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: url("https://images7.alphacoders.com/588/thumb-1920-588644.jpg");

}

.container {
    width: 900px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .card {
    position: relative;

}

.container .card .face {
    width: 600px;
    height: 200px;
    transition: 0.4s;
}

.container .card .face.face1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(200px);
    background-image: url("https://le-cdn.hibuwebsites.com/37be2139d3304e3d8aaa4c819b8381a4/dms3rep/multi/opt/Car-600x200.-640w.jpg");
}

.container .card:hover .face.face1 {
    /*box-shadow: inset 0 0 60px #fff,*/
    /*inset 20px 0 60px #6f00ff,*/
    /*inset -20px 0 80px #0ff,*/
    /*inset 20px 0 150px #6f00ff,*/
    /*inset -20px 0 150px #0ff,*/
    /*inset 20px 0 60px #6f00ff,*/
    /*0 0 40px #fff,*/
    /*-10px 0 60px #6f00ff,*/
    /*10px 0 60px #0ff;*/
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: .7;
    text-align: center;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}
.container .card .face.face1 .content i {
    font-size: 3em;
    color: #fff;
    display: inline-block;
}

.container .card .face.face1 .content h3 {
    font-size: 3em;
    color: #fff;
    text-align: center;
}

.container .card .face.face1 .content a {
    transition: 0.5s;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,8);
    transform: translateY(0px);
}
.container .card:hover .face.face2 {
    transform: translateY(0px);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333;
}

.container .card .face.face2 .content a {
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    padding: 8px 24px;
    margin: 15px 0 0;
    display: inline-block;
    background: #444;
}

a {
    color: white;
}



/*background:*/
/*        url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5BdtaKbTI-eCahqBstBMKWU67MUWK2bNcgg&usqp=CAU) repeat-x 0 100% fixed,*/
/*        url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiOr0zYz49G_Jeug6S-F5fn3UVI9aw9jU3ZQ&usqp=CAU) no-repeat fixed,*/
/*        url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfO63A938YJHivaU53h17iz5aLOfpdMWKWAg&usqp=CAU) no-repeat fixed,*/
/*        url(https://habrastorage.org/webt/-j/go/fx/-jgofxkmtexlfds_uh_c4eklqgu.jpeg) repeat-x 0 100% fixed,*/
/*        linear-gradient(to top, #5080b1, #004e8c) fixed;*/
/*animation: city 30s linear infinite;*/


/*@keyframes city {*/
/*    from { background-position: -1000px 100%, 0 0;}*/
/*    to { background-position: 0 100%; }*/
/*}*/

/*@-webkit-keyframes city {*/
/*    from { background-position: -1000px 100%, 0 0;}*/
/*    to { background-position: 0 100%, 0 0; }*/
/*}*/